<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
		<category 
			id="org.fedoraproject.eclipse.packager.local.category.wizards" 
			name="%LocalFedoraPackagerWizardName">
		</category>
		<wizard 
			category="org.fedoraproject.eclipse.packager.local.category.wizards" 
			class="org.fedoraproject.eclipse.packager.local.internal.ui.LocalFedoraPackagerProjectWizard" 
			icon="icons/fedora16x16.png" id="org.fedoraproject.eclipse.packager.local.newprojectwizard" 
			name="%FedoraGitWizardCommandName">
		</wizard>
	</extension>
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               icon="icons/fedora16x16.png"
               id="org.eclipse.fedoraproject.packager.main"
               label="%MenuProductName">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.fedoraproject.packager.main?">
         <command
               commandId="org.fedoraproject.eclipse.packager.local.prepCommand"
               icon="icons/rpm.gif"
               label="%LocalFedoraPackagercommand.label.prep"
               mnemonic="%LocalFedoraPackagercommand.mnemonic.prep"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.fedoraproject.eclipse.packager.local.toolbars.sampleToolbar">
            <command
                  commandId="org.fedoraproject.eclipse.packager.local.commands.sampleCommand"
                  icon="icons/fedora16x16.png"
                  id="org.fedoraproject.eclipse.packager.local.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.local.handlers.LocalPrepHandler"
            id="org.fedoraproject.eclipse.packager.local.prepCommand"
            name="%LocalFedoraPackagercommand.name.prep">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.fedoraproject.eclipse.packager.local.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
	

</plugin>
